:root {
    --neutral-900: hsl(0, 0%, 7%);
    --neutral-800: hsl(0, 0%, 15%);
    --neutral-500: hsl(240, 3%, 46%);
    --neutral-400: hsl(240, 1%, 59%);
    --neutral-0: hsl(0, 0%, 100%);
    --blue-600: hsl(214, 100%, 55%);
    --blue-400: hsl(210, 100%, 65%);
    --red-500: hsl(354, 63%, 57%);
    --green-500: hsl(140, 63%, 57%);
    --yellow-400: hsl(49, 85%, 70%);
}

@font-face {
    font-family: 'sora';
    src: url('../fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 100 900;
}

.sora-regular {
    font-family: 'sora';
    font-size: 40px;
    line-height: 136%;
    letter-spacing: 0.4px;
}

.sora-medium {
    font-family: 'sora';
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.6px;
}

.sora-bold-medium {
    font-family: 'sora';
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.3px;
    font-weight: 600;
}

.sora-small {
    font-family: 'sora';
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0px;
}

.sora-bold-small {
    font-family: 'sora';
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 400;
}

html, body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--neutral-900);
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 3rem;
}

table {
    border-collapse: collapse;
}

th, td {
    position: relative;
    padding: 8px 12px;
}

th:not(:last-child)::after, td:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 0;
    width: 1px;
    height: 45%;
    background: var(--neutral-500);
}

hr {
    border-color: var(--neutral-400);
}

header {
    display: flex;
    flex-direction: row;

    .logo {
        align-self: center;
    }

    .personal-best {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}

footer {
    margin-top: auto;
}

.personal-best {
    p {
        color: var(--neutral-500);
    }

    span {
        align-self: center;
        color: var(--neutral-0);
    }
}

/* wpm, accuracy, time, difficuty, mode */
.test-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--neutral-400);

    .computations {
        .wpm {
            color: var(--neutral-0);
        }

        .accuracy {
            color: var(--red-500);
        }

        .time {
            color: var(--yellow-400);
        }
    }

    .options {
        margin-left: auto;

        div[role='radiogroup'] {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .list {
            display: flex;
            flex-direction: row;
        }

        input[name='difficulty'], input[name='mode'] {
            position: absolute;
            opacity: 0;
            z-index: -1;

            &:focus + label {
                outline: 2px solid var(--blue-400);
                outline-offset: 2px;
            }

            &:checked + label {
                border: 1px solid var(--blue-400);
                color: var(--blue-400);
            }

            &:disabled {
                &:checked + label {
                    cursor: default;
                }

                &:not(:checked) + label{
                    cursor: not-allowed;

                    &:hover {
                        color: var(--neutral-0);
                        border: 1px solid var(--neutral-400);
                    }
                }
            }
        }

        label {
            border: 1px solid var(--neutral-400);
            border-radius: 4px;
            color: var(--neutral-0);
            margin: 4px;
            padding: 4px 8px;
            transition: color 0.3s ease, background 0.3s ease;
            cursor: pointer;

            &:hover {
                border: 1px solid var(--blue-400);
                color: var(--blue-400);
            }
        }

        .mobile-option {
            display: none;
        }
    }
}

/* typing box */
.test-body {
    position: relative;

    .before-start {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        color: var(--neutral-0);

        #start-typing-btn {
            color: var(--neutral-0);
            background-color: var(--blue-600);
            border-width: 0;
            outline-width: 0;
            border-radius: 8px;
            padding: 16px 32px;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background-color: var(--blue-400);
            }

            &:focus {
                outline: 2px solid var(--blue-400);
                outline-offset: 2px;
            }
        }

        p {
            margin: 16px;
        }

    }    

    #passage {
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        z-index: -1;
        pointer-events: none;
    }

    .passage {
        overflow-wrap: break-word;
        min-height: 12ch;
        resize: none;
        padding: 8px;
        cursor: text;
        user-select: none;
    }

    #passage-div span {
        white-space: pre-wrap;
    }

    #restart-btn {
        padding: 16px 16px;
        border-radius: 8px;
        border-width: 0;
        background-color: var(--neutral-800);
        color: var(--neutral-0);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        cursor: pointer;
        transition: background 0.3s ease;
        
        & > img {
            margin: 0 4px;
            transform: translateY(4px);
        }

        &:hover {
            background-color: var(--neutral-500);
        }
    }

}

.correct-words {
    color: var(--green-500);
}

.wrong-words {
    color: var(--red-500);
    text-decoration: underline;
}

.normal-words {
    color: gray;
}

.cursor {
    background-color: var(--blue-400);
}

.complete-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    .img-shadow {
        border-radius: 100%;
        box-shadow:
            0 0 4px 15px rgba(76, 214, 122, 0.5),
            0 0 12px 30px rgba(76, 214, 122, 0.2);
    }

    .title {
        color: var(--neutral-0);
        text-align: center;
        margin-bottom: 0;
    }

    .description {
        text-align: center;
        color: var(--neutral-400);
    }

    .results {
        display: flex;
        flex-direction: row;
        gap: 16px;
        color: var(--neutral-400);
        margin: 32px 0;

        div {
            border: 1px solid var(--neutral-800);
            border-radius: 8px;
            padding: 16px;
            min-width: 120px;

            & > span {
                display: block;
            }
        }

        .wpm {
            color: var(--neutral-0);
        }

        .correct {
            color: var(--green-500);
        }

        .wrong {
            color: var(--red-500);
        }
    }

    #go-again-btn {
        margin: 32px 0;
        padding: 16px 16px;
        border-radius: 8px;
        border-width: 0;
        background-color: var(--neutral-0);
        color: var(--neutral-900);

        cursor: pointer;
        transition: background 0.3s ease;
        
        & > img {
            margin: 0 4px;
            transform: translateY(4px);
        }

        &:hover {
            background-color: var(--neutral-400);
        }

    }

    #star1 {
        position: absolute;
        left: 15%;
        top: 15%;
    }

    #star2 {
        position: absolute;
        right: 15%;
        bottom: 25%;
    }
}

.confetti {
    display: none;
    position: absolute;
    background-color: var(--blue-400);
    width: 8px;
    height: 4px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--neutral-400);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* 768px */
@media(max-width: 1024px) {
    .test-head {
        flex-direction: column;
        
        .computations {
            align-self: flex-start;
        }
        
        .options {
            align-self: flex-start;
            margin: 0;
        }
    }
}

/* 375px */
@media(max-width: 640px) {
    .sora-regular {
        font-family: 'sora';
        font-size: 32px;
        line-height: 136%;
        letter-spacing: 0.4px;
    }

    .sora-medium {
        font-family: 'sora';
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.6px;
    }

    .sora-bold-medium {
        font-family: 'sora';
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.3px;
        font-weight: 600;
    }

    .sora-small {
        font-family: 'sora';
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0px;
    }

    .sora-bold-small {
        font-family: 'sora';
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0px;
        font-weight: 400;
    }

    .test-head {
        .options {
            width: 100%;

            td::after {
                width: 0;
            }

            tr {
                display: flex;
                flex-direction: row;
                gap: 16px;
            }

            td {
                flex: 1;
                padding: 0;
            }

            div[role='radiogroup'] {
                flex-direction: column;

                .list {
                    display: none;
                }

                label {
                    margin: 0;
                }

                & > span {
                    display: none;
                }

                & > .mobile-option {
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                    border: 1px solid var(--neutral-500);
                    border-radius: 8px;
                    padding: 8px 16px;
                    color: var(--neutral-0);

                    & > img {
                        margin-left: 8px;
                    }
                }

                &:hover .list {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    z-index: 2;
                    background-color: var(--neutral-900);
                }
            }

        }
    }

    .test-body {
        .before-start {
            width: 100%;
        }
    }

    .complete-page {
        .title {
            margin-top: 32px;
        }

        .results {
            width: 100%;
            flex-direction: column;
        }

        #star1 {
            width: 16px;
            aspect-ratio: 1 / 1;
        }

        #star2 {
            width: 32px;
            aspect-ratio: 1 / 1;
            bottom: 64px;
        }
    }
}

